/* body */
.main {
  color: #32384d;
  font-family: "Open Sans", sans-serif;
  background-color: #e2e2e2;
}

/* /* br-navbar */
.br-navbar {
  height: 65px;
  background: transparent;
  color: white !important;
  border: 0px !important;
}

/* br-main */
.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://i.pinimg.com/originals/8a/74/6d/8a746d8eb265ab3ef533fa491e93f8b4.jpg");
  margin-top: 0 !important;
  padding-top: 10%;
  padding-bottom: 20%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 100%;
  background-size: cover;
  text-align: center;
  color: white;
}

/* form  */

.br-form {
  background: white;
  padding-top: 5%;
  padding-bottom: 5%;
  align-items: center;
  background: #e2e2e2;
}
input[type="text"] {
  background: white;
}
/* h1 tags */
.br-headings {
  text-align: center;
  font-size: 50px;
  padding-bottom: 1%;
  border-bottom: 18px solid #e29930;
  text-transform: uppercase;
}
/* services section */
.br-services,
.br-about-us {
  background-color: white;
  margin: 10% 10%;

  text-align: center;
}
.col-lg-4:hover {
  background: #ccffff;
}
.br-services h3 {
  color: #e29930;
}
.col-lg-4 {
  padding-top: 5%;
  padding-bottom: 4%;
}

/* br about us */
.svg_container {
  position: relative;
}

.svg_container > .heading_container {
  position: absolute;
  color: white;
  text-align: center;
  top: 5%;
  left: 0;
  width: 100%;
  font-size: 50px;
  line-height: 2em;
}
/* about us section */
.br-about-us img:hover {
  opacity: 0.8;
  transition: 0.5s ease;
}
.br-about-us p {
  line-height: 2em;
  text-align: left;
  font-size: 16px;
}

/* why minicabee section */
.why :hover {
  background: #ccffff;
}
/* footer */
.br-footer {
  background: #253754;
  color: #e29930;
}
.br-footer h3 {
  color: #e29930;
  font-weight: bolder;
}
.br-footer p {
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;

  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;

  color: white;
}
